:root {
    --primary-color: hsl(212, 45%, 89%);
    --secondary-color: hsl(216, 15%, 48%);
    --terciary-color: hsl(218, 44%, 22%);

    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}

.card-container {
    max-width: 250px;
    width: 100%;
    max-height: 375px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    padding: 0.75rem 0.75rem 1.5rem 0.75rem;
    border-radius: 10px;
}

.card-container img {
    width: 100%;
    border-radius: 10px;
}

.card-container h1 {
    font-size: 1.125rem;
    text-align: center;
    color: var(--terciary-color);
}

.card-container p {
    font-size: 0.75rem;
    width: 95%;
    text-align: center;
    color: var(--secondary-color);
}